body {
	background:#E3EBEF  repeat-x scroll 0 0
}
.author img {
	border:0 none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	width:48px;
	height:48px;
	margin-left:-30px;
}

#posts,#userInfo {
	margin-left:80px;
	margin-right:80px;
	background-color:#fff;
	clear:both;
}

.post{
	border-bottom:1px solid #E3EBEF;
	display:block;
}
.posts{
	clear:both;
}
.group-post{
	padding:20px 40px 0;
}

.banner h1{
	display:inline;
	float:left;
}

.navigator{
	float:left;
	line-height:80px;
	padding-left:50px;
	text-align:left;
	vertical-align:bottom;
}
